@model IEnumerable<UserGridMvc.Entity.Entities.User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show users</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div>
        <input class="btn btn-success" type="submit" value="Showteachers" />

        @foreach (var user in Model)
        {
            <div class="container-fluid row col-md-12">
                <div class="col-md-2 btn-success">
                    @Html.DisplayFor(userItem => user.Id.ToString())
                </div>
                <div class="col-md-offset-4 col-md-2 alert-danger">
                    @Html.DisplayFor(userItem => user.FirstName)
                </div>

                @*@foreach (var time in teacher.Times)
                    {
                        <div class="col-md-offset-4 col-md-2 alert-danger">
                            @Html.DisplayFor(teacherItem => teacher.Name)
                        </div>
                    }*@
            </div>
        }
    </div>
</body>
</html>
