@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Users list";
    Layout = "~/Views/User/Base.cshtml";
}

<h2>Users</h2>

@(Html.Kendo().Grid<UserGridMvc.Models.UserModel>().Name("users")
        .Columns(columns =>
        {
            columns.Bound(c => c.Login);
            columns.Bound(c => c.Name);
            columns.Bound(c => c.Email);
            columns.Bound(c => c.Phone);
            columns.Command(cmd => { cmd.Edit(); cmd.Destroy(); });
        })
    .ToolBar(toolbar => toolbar.Create())
    .Pageable(pages => pages.PageSizes(true))
    .Filterable()
    .Sortable()
    .Groupable()
    .Editable(ed => ed.Mode(GridEditMode.PopUp).TemplateName("UserEdit"))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(5)
        .Events(events => events.Error("error_handler"))
        .Model(model => model.Id(m => m.Id))
            .Create(update => update.Action("Create", "User"))
            .Read(read => read.Action("GetPersons", "User"))
            .Update(update => update.Action("UpdatePerson", "User"))
            .Destroy(update => update.Action("Delete", "User"))
    )


)

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>
    